[Match]
Name=enp0s3
Type=ether

[Network]
Description=The unconfigured physical ethernet device

# Make eth1 member of these three VLANs and create virtual
# interfaces on it:
VLAN=iot
VLAN=guest
VLAN=main

# In case of 'tagged only' setups, you probably don't need any IP
# configuration on the link without VLAN (or: default VLAN).
# For that just omit an [Address] section and disable all the
# autoconfiguration magic like this:
LinkLocalAddressing=no
LLDP=no
EmitLLDP=no
IPv6AcceptRA=no
IPv6SendRA=no
